{% extends 'base.html' %}

{% block main %}
    <section class="jumbotron text-center">
        <div class="container">
            <form method="post" action="#">
                <input name="document_id" value="{{ document.id }}" type="hidden" />
                <h1>{{ document.text }}</h1>
                <p>
                    {% for label in labels %}
                        <div class="btn btn-primary">
                            <input id="label_{{ label.id }}" type="checkbox" name="label_{{ label.id }}" value="1"/>
                            <label for="label_{{ label.id }}" class="no-margin">{{ label.title }}</label>
                        </div>
                    {% endfor %}
                </p>
                <p>
                    <button type="submit" class="btn btn-success">Submit</button>
                </p>
                {% csrf_token %}
            </form>
        </div>
    </section>


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3>Guidelines</h3>
                    <p>{{ guideline }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}
